*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: all 0.3s;
}

button{
    cursor: pointer;
}