:root{
    ---primary: #050505;
    ---black: #000;
    ---btns: #0092C8; 
    ---menu-mobile: #0093c86c; 
    ---menu-mobile-hover: #0093c8b7; 
    ---text: #fff;
    ---paragrafy: #7A7979;
    ---card: #D9D9D9;

    ---btns-dark: #023f55;


    /* DARK MODE */


}

